In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# Load the dataset into a Pandas DataFrame
df1 = pd.read_csv("C:/Users/vrl2k/Desktop/MS/Spring 2023/Deep Learning/Project/Proj_mimic_out/patient_cleanfile.csv")

In [4]:
#check for ICD-9 code for keywords 'Heart failure'
# Define the keywords to search for
keywords = ['heart failure']

# Create a new column with 1 if any of the keywords are found in the ICD9 code title, 0 otherwise
df1['hf_all'] = df1['LONG_TITLE'].apply(lambda x: 1 if any(keyword in x.lower() for keyword in keywords) else 0)

In [6]:
#check for ICD-9 code for keywords 'Heart failure'
# Define the keywords to search for
keywords = ['without heart failure']

# Create a new column with 1 if any of the keywords are found in the ICD9 code title, 0 otherwise
df1['hf_no'] = df1['LONG_TITLE'].apply(lambda x: 1 if any(keyword in x.lower() for keyword in keywords) else 0)

In [10]:
df1['hf'] = df1['hf_all'] - df1['hf_no']

In [13]:
#check for ICD-9 code for keywords 'Diabetes'
# Define the keywords to search for
keywords = ['Diabetes','diabetes']

# Create a new column with 1 if any of the keywords are found in the ICD9 code title, 0 otherwise
df1['Diabetes'] = df1['LONG_TITLE'].apply(lambda x: 1 if any(keyword in x.lower() for keyword in keywords) else 0)

In [15]:
df2 = df1.drop(['hf_all','hf_no'], axis=1)

In [28]:
df1.head(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE,hf_all,hf_no,hf,Diabetes
0,1297,109,172335,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0,0,0
1,1311,109,173633,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0,0,0
2,1019,109,131345,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0,0,0
3,1039,109,131376,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0,0,0
4,1059,109,135923,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0,0,0

In [27]:
df2.head(5)

,ROW_ID_x,SUBJECT_ID,HADM_ID,SEQ_NUM,ICD9_CODE,SHORT_TITLE,LONG_TITLE,hf,Diabetes
0,1297,109,172335,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0
1,1311,109,173633,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0
2,1019,109,131345,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0
3,1039,109,131376,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0
4,1059,109,135923,1.0,,mal hyp kid w cr kid v,hypertensive chronic kidney disease malignant...,0,0

In [29]:
df2.to_csv('C:/Users/vrl2k/Desktop/MS/Spring 2023/Deep Learning/Project/Proj_mimic_out/labeled_records.csv', index=False)